.btn-orange {
    background-color: #ED3D05;
    color: #FFFFFF;
}

.btn-orange:hover {
    color: #FFFFFF;
}

.btn-orange:hover:not(:disabled):not(.disabled) {
    opacity: 0.9;
}

/*.header.header-fixed{*/
/*    z-index: 3000!important;*/
/*}*/

.actions .cell{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;

}
.actions .cell .el-button{
    margin: 0;
}
.el-select,.el-input,.el-switch{
    display: block!important;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 100%!important;
}
.el-table th.el-table__cell>.cell{
    word-break:break-word;
}
